/* notes--- */
/* font-family: "Montserrat", sans-serif; */
/* notes--- */
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  overflow: hidden;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
/* sidebar top */
.sidebar {
  /* change the width with grid system later */
  width: 100%;
  height: 100vh;
  background-color: rgb(61, 191, 247);
}
.sidebar-top {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 50px;
  margin-left: 25px;
}
.sidebar-top svg {
  height: 50px;
  width: 50px;
  place-self: center;
  fill: #ffffff;
}
.sidebar-top p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 32px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #ffffff;
}
/* sidebar middle */
.sidebar-middle {
  padding-top: 50px;
  margin-left: 25px;
}
.sidebar-middle .middle-link {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.sidebar-middle .middle-link:hover {
  cursor: pointer;
  opacity: 0.75;
}
.sidebar-middle .middle-link svg {
  height: 35px;
  width: 35px;
  fill: #ffffff;
  place-self: center;
}
.sidebar-middle .middle-link p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
/* sidebar bottom */
.sidebar-bottom {
  padding-top: 25px;
  margin-left: 25px;
}
.sidebar-bottom .bottom-link {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.sidebar-bottom .bottom-link:hover {
  cursor: pointer;
  opacity: 0.75;
}
.sidebar-bottom .bottom-link svg {
  height: 35px;
  width: 35px;
  fill: #ffffff;
  place-self: center;
}
.sidebar-bottom .bottom-link p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
/* header */
.header {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 40px;
}
.header-top {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.header-top-left {
  display: grid;
  grid-template-columns: 40px 1fr;
  margin-top: 10px;
  margin-left: 40px;
}
.header-top-left svg {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  height: 30px;
  width: 30px;
  padding-top: 2px;
}
.header-top-left svg:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.header-top-left input {
  border: 1px solid #bfbfbf;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  height: 30px;
  outline-style: none;
  padding-left: 20px;
  width: 600px;
}
.header-top-right {
  display: grid;
  grid-template-columns: 50px 50px 1fr;
}
.header-top-right svg {
  width: 25px;
  height: 25px;
  place-self: center;
}
.header-top-right svg:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.header-top-right img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  place-self: center;
}
.header-top-right p {
  padding-left: 15px;
  font-weight: 600;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.header-bottom {
  display: grid;
  grid-template-columns: 850px 1fr;
  padding-left: 40px;
  margin-top: 20px;
}
.header-bottom-left {
  display: grid;
  grid-template-columns: 75px auto;
}
.header-bottom-left .profile-icon img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.header-bottom-left .name-display {
  padding-top: 2px;
}
.header-bottom-left .name-display p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 1px;
  padding-bottom: 0px;
}
.header-bottom-left .name-display p:nth-child(2) {
  font-size: 27px;
  font-weight: 600;
}
.header-bottom-right {
  display: grid;
  grid-template-columns: 175px 175px 175px;
  padding-top: 15px;
}
.header-bottom-right button {
  padding: 12px 32px 12px 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ffffff;
  border: none;
  background-color: #60abf5;
  border-radius: 20px;
  width: 150px;
  height: 40px;
}
.header-bottom-right button:hover {
  cursor: pointer;
  opacity: 0.75;
}
/* card styling */
.main-content {
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 50px;
  padding-left: 25px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
}
.projects .project-title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.projects-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px 0px;
}
.projects .card {
  background-color: #ffffff;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 10px auto;
  min-height: 100px;
  width: 425px;
  overflow: hidden;
}
.card .yellow-stripe {
  height: 100%;
  background-color: #fcde33;
}
.card .card-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
  padding-left: 15px;
}
.card .card-paragraph {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.7;
  padding-left: 15px;
  width: 370px;
}
.card .card-content-bottom {
  float: right;
  margin-top: 25px;
  margin-right: 30px;
  margin-bottom: 20px;
}
.card-content-bottom svg {
  height: 30px;
  padding-left: 10px;
  width: 30px;
}
.card-content-bottom svg:hover {
  cursor: pointer;
  opacity: 0.5;
}
/* announcement */
.announcements {
  box-sizing: border-box;
  width: 430px;
}
.announcement-title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.announcement-content {
  border-radius: 10px;
  background-color: #ffffff;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}
.announcement-card-title {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.announcement-card-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 1.5;
}
/* trending */
.trending {
  margin-top: 50px;
}
.trending-title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.trending-card {
  display: grid;
  grid-template-columns: 55px auto;
  margin-top: 15px;
}
.trending-card .card-icon {
  place-self: center;
}
.trending-card .card-icon img {
  height: 50px;
  width: 50px;
}
.trending-card .text {
  margin-left: 20px;
}
.trending-card .text .tag {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
}
.trending-card .text .name {
  margin-top: 7px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.5);
}
